body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    position: relative;

    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background-size: cover;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    height: 120px;
    margin: 0px;
    padding: 0px 20px;

    background-color: rgb(114, 157, 181);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: 100px;
    height: 100px;

    background-position: center;
    background-size: cover;
    background-image: url("./圖/scuba-diving-sport-logo-water-vector-illustrator-silhouette-logo-design_304830-557.jpg");
}

nav .links {
    width: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links a {
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    color: white;
    border: 5px double rgb(132, 255, 218);
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;

    box-shadow: rgb(173, 236, 230) 0px 0px 5px 2px;
}

nav .links a:hover {
    color: rgb(76, 207, 227);
    border: 5px double rgb(202, 248, 238);

}

.main {
    margin: 0px;

    /* background-color: #aaa; */
}

.welcome {
    position: relative;
}

.welcome img {
    height: 600px;
}

.welcome .welcome-box {
    width: 500px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 250px);
    color: white;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome .welcome-box .plus-line {
    width: 140px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(78, 239, 137);
    cursor: pointer;
}
.welcome .welcome-box .plus-line:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 117, 4);
}

.container {
    height: 600px;

    padding: 5% 10%;
}

.hot-activity {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.text-hot {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
}

.picture1 {
    width: 25%;
    position: relative;
}

.picture2 {
    width: 25%;
    position: relative;
}

.picture3 {
    width: 25%;
    position: relative;
}

.hot-activity .picture {
    width: 100%;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.picture1 .picture {
    background-image: url("./圖/體驗潛水.webp");
    margin: 10px 0px;
}

.picture2 .picture {
    background-image: url("./圖/考取潛水.jpg");
    margin: 10px 0px;
}

.picture3 .picture {
    background-image: url("./圖/潛水民宿.jpg");
    margin: 10px 0px;
}

.picture1 a {
    font-weight: bold;
    position: absolute;
    left: calc(50px);
    top: 450px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 186, 255);
    padding: 5px;
   border-radius: 15px;
}
.picture1 a:hover{
    background-color: rgb(0, 255, 170);
}
.picture2 a {
    font-weight: bold;
    position: absolute;
    left: calc(50px);
    top: 450px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 186, 255);
    padding: 5px;
    border-radius: 15px;
}
.picture2 a:hover{
    background-color: rgb(0, 255, 170);
}

.picture3 a {
    font-weight: bold;
    position: absolute;
    left: calc(50px);
    top: 450px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 186, 255);
    padding: 5px;
    border-radius: 15px;
}
.picture3 a:hover{
    background-color: rgb(0, 255, 170);
}

.footer {
    margin: 0px;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;

    height: 200px;

    background-color: rgb(114, 157, 181);
    position: relative;
}

h4 {
    font-size: 20px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icons img {
    width: 30px;
    height: 30px;
}

.icons p {
    display: inline;
}

.listA {
    width: 20%;
    position: absolute;
    right: 30%;
}

.listB {
    width: 20%;
    position: absolute;
    right: 15%;
}

.listA li {
    list-style-type: none;
}

.listB li {
    list-style-type: none;
}

.listA a {
    font-size: 16px;
    display: flex;
    color: white;
    text-decoration: none;
}

.listA a:hover {
    color: rgb(76, 207, 227);
    font-size: 18px;
}

.listB a {
    font-size: 16px;
    display: flex;
    color: white;
    text-decoration: none;
}

.listB a:hover {
    color: rgb(76, 207, 227);
    font-size: 18px;
}

.footer .logo {

    width: 120px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./圖/scuba-diving-sport-logo-water-vector-illustrator-silhouette-logo-design_304830-557.jpg");
    float: right;
    position: absolute;
    right: 40px;
    top: calc(50% - 60px);
}

@media(max-width:1100px) {
    nav .links {
        width: 80%;
    }

    .hot-activity {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .picture1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }

    .picture2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }

    .picture3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }

    .hot-activity a {
        font-size: 30px;
        position: unset;
    }

    .footer {
        padding: 30px 0px;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    h4 {
        font-size: 22px;
    }

    .icons {
        display: unset;
    }

    .listA {
        position: unset;
    }

    .listB {
        position: unset;
    }

    .listA a {
        display: unset;
    }

    .listB a {
        display: unset;
    }

    .footer .logo {
        width: 80px;
        height: 80px;
        float: none;
        position: unset;
    }
}